# dependencies
node_modules/
__pycache__/
*.pyc

# env/secrets
.env
*.env
*.key
*.crt
*.pem
kubeconfig*

# terraform
.terraform/
*.tfstate
*.tfstate.*
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# local/generated
.DS_Store
iam_policy.json